<<<<<<< HEAD


/* الجوال */
/* index */
.feature-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rate{
    width: 65vw;
}
.menu-content {

    flex-direction: column;
    align-items: center;
}
.menu-content-cards img {
    /* border-radius: 20px; */
    width: 71vw;
}

footer{
   flex-direction: column;

}
.list-content ul {

    flex-wrap: wrap;
}

.menu-content-cards {

    width: 71vw;
}
/* الوسط */
/* index */
.main {
    padding-left: 39px;
}
/* list */
.menu-content-cards {
    height: 399px;
}
.menu-content-cards button {
    width: 9vw;
=======
/* mobile */
@media (max-width: 600px) {
    /*start Detaile page for mobiel*/

    .detaile-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-detaile img {
        width: 80vw;

    }

    .review-container {
        width: 60%;
        margin: auto;
    }

    .review-title {
        flex-direction: column;
        gap: 0px;
    }

    .share-review {
        flex-direction: column;
    }

    .content-detaile {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 24%;
        margin: auto;
        padding-top: 40px;
    }

    /* start Submit page for mobiel */
    form {
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .btn-form {
        width: 100%;
    }

    button {
        margin: auto;
        margin-top: 18px;
    }

}

/*Tablet*/

/* start Detaile page for tablet */
.detaile-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.content-detaile {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24%;
    margin: auto;
    padding-top: 40px;
}

.review-container {
    width: 50%;
    margin: auto;
}

.review-title {
    gap: 221px;
}

.share-review {
    margin: auto;
    width: 50%;
    padding-top: 17px;
}

/* start Submit page for Tablet */
@media (min-width: 601px) and (max-width:900px) {

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        margin: auto;
    }

    .btn-form {
        width: 100%;
    }
>>>>>>> 3d387ece842c90bdf0c58e1a59d744e917695354
}