*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .top-container{
    background-image: url(../img/bachground.png); 
    width:100%;
    background-repeat: no-repeat;
    
 
} 
.header-container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-left h1 .title-recipe{
    font-family:Montez;
    font-size: 63px;
    color: #FAC552;
}
.header-left h1 .title-website{
    font-family:MonteCarlo;
    font-size: 36px;
    color: #1C598E;
    margin-left: 32px;
}
.header-center {
display: flex;
justify-content: space-around;
gap: 20px;
}
nav{
    font-size: 24px;
}
.header-center nav .active{
    color:#1C598E;
}
.header-right input{
    border-radius: 30px;
    background-color: #1C598E;
    padding: 19px;

}
input{
    width: 166px;
    height: 43px;
}
.header-right .fa-solid{
    color: white;
    position: absolute;
    right: 272px;
    top: 29px;
    z-index: 159;
}
::placeholder {
        color: white;
      }
.hero-contant{
    padding-left: 235px;
    padding-top: 130px;
    line-height: 50px;
      }
.feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.feature-group1{
    display: flex;
}

/*start Detaile page*/
.detaile-container{
display: flex;
justify-content: space-around;
align-items: center;
}
.content-detaile ul{
    margin-left: 2em;
}
.img-detaile img{
    width: 37vw;
    margin-top: 5em;
    height: 125vh;
}
content-detaile h3,h4{
    text-transform: uppercase;
}