/*start Detaile page*/
.detaile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reviw-card1 img {
    width: 5%;
    height: 10%;
    padding-left: 21px;
    padding-top: 5px;


}

.content-detaile {
    margin-left: -229px;
    line-height: 26px;
    margin-top: 205px;
    font-size: 1.5em;
}

.content-detaile h4 {
    text-transform: uppercase;
}

.content-detaile h3 {
    text-transform: uppercase;
}

.detaile-btn button {
    width: 170px;
    border-radius: 6px;
    height: 35px;
    margin-top: 28px;
    margin-left: 10px;
    border: 1px solid #FFC700;
    box-sizing: border-box;

}

.detaile-btn .btn1 {
    background-color: white;

}

.detaile-btn .btn2 {
    background-color: #FAC552;
}

.review-container {

    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-around;
    align-items: center;

}

.content-review p {
    margin-top: -9px;
}

.review-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 763px;
    border: 1px solid #EEEEEE;
    border-radius: 20px 20px 0px 0px;
    height: 9vh;
    width: 70%;
}

.review-direction {
    display: flex;
    gap: 50px;
}

.reviw-card1 {
    border: 1px solid #EEEEEE;
    height: 9vh;
    width: 70%;

}

.name-rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rate {
    margin-left: 14px;
}

.view-border {
    border-bottom: 1px solid black
}

.share-review {
    display: flex;
    gap: 4px;
    margin-left: 15%;
    justify-content: flex-start;
}

.icon-review {
    margin-top: 44px;
}

.data-review {
    color: #BBBBBB;
    margin-left: 24%;
}

.share-review h5 {
    font-size: 1.5em;
}




/*start submit css*/
h2 {
    color: #1D1D1B;
    text-align: center;

}


h2 .recipe-color {
    color: #FFC700;
}

form {
    margin-left: 33%;
    margin-top: 2%;
    border: 1px solid #FFC700;
    display: inline-block;
    width: 35%;
    padding: 32px;
}

.btn-form {
    width: 473px;
    border-radius: 5px;
    height: 32px;
    margin-top: 10px;

    border: 1px solid #FFC700;
    box-sizing: border-box;

}

#btn-submit {
    text-align: center;
    width: 90px;
    height: 30px;
    margin-left: 42%;
    margin-top: 10px;
    background-color: #FFC700;
    border-radius: 10px;
    color: #1C598E;
    border: none;
}

#icon-plus {
    color: #1C598E;
    position: absolute;
    right: 31%;
    font-size: 3.5em;
    border: -0.5px solid;
    top: 643px;

}